@page
@model IndexModel
@{
    ViewData["Title"] = "Central Security Service - Administration";
}

<table>
    <tr>
        <td align="center">
            <a target="_blank" href="~/Images/Central Security Service - www.Canva.com - 2022-03-25-0.png"><img src="~/Images/Central Security Service - www.Canva.com - 2022-03-25-0.png" alt="Ulysses Papilio Butterfly" title="Ulysses Papilio Butterfly" height="600" /></a>
        </td>
        <td align="center">
            <a target="_blank" href="~/Images/20220325_120517.jpg"><img src="~/Images/20220325_120517.jpg" height="600" alt="www.Css.global" title="www.Css.global" /></a>
        </td>
        <td align="center">
            <a target="_blank" href="~/Images/20220325_131638.jpg"><img src="~/Images/20220325_131638.jpg" height="600" alt="www.CentralSecurityService.global" title="www.CentralSecurityService.global" /></a>
        </td>
        <td align="center">
            <a target="_blank" href="~/Images/Bernard Duffy.jpeg"><img src="~/Images/Bernard Duffy.jpeg" alt="Bernard Duffy" title="Bernard Duffy" height="600" /></a>
        </td>
    </tr>
    <tr>
        <td align="center">Ulysses Papilio Butterfly</td>
        <td align="center">www.Css.global</td>
        <td align="center">www.CentralSecurityService.global</td>
        <td align="center">Bernard Duffy</td>
    </tr>
</table>
<br />
<p>This is Administration.CentralSecurityService.global. A work in progress. Please visit again as, whilst very basic at present, work has begun on this, inspired by <a target="_blank" href="~/Images/Central Security Service - www.Canva.com - 2022-03-25-0.png">Bronwench</a> and a trip to <a target="_blank" href="https://www.Kuranda.org/">Kuranda</a>, near Cairns, Australia, in 2002, and also by <a target="_blank" href="~/Images/Bernard Duffy.jpeg">Bernard Duffy</a>.</p>
